*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{

background:#05070b;

color:white;

font-family:Inter,Arial,sans-serif;

line-height:1.7;

overflow-x:hidden;

}

section{

padding:120px 10%;

}

h1{

font-size:72px;

line-height:1.1;

}

h2{

font-size:48px;

margin-bottom:40px;

}

p{

font-size:22px;

color:#bfc8d2;

}

.container{

max-width:1300px;

margin:auto;

}

